@tailwind base;
@tailwind components;
@tailwind utilities;

/* default theme */
@layer base {
  html {
    --bodyBg: #10141e;
    --headerBg: #161d2f;
  }
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .navbar-height {
    height: calc(100% - 4rem);
  }

  .white-filter {
    transition: filter 0.3s ease;
  }

  .white-filter:hover {
    filter: brightness(0) invert(1);
  }
}
