@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*-------------------
         DEFAULT
   -------------------*/
  html {
    --dark-blue: #10141e;
    --semi-dark-blue: #161d2f;
    --pure-white: #ffffff;
    --greyish-blue: #5a698f;
    --logo-red: #fc4747;

    --youtube-player-width: 560px;
    --youtube-player-height: 348px;
  }

  /*-------------------
         STYLES
   -------------------*/
  html,
  body {
    height: 100%;
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  /*-------------------
         LAYOUT
   -------------------*/
  /* mobile */
  .main-grid {
    display: grid;
    grid-template-rows: 56px 1fr 4fr 6fr;
    grid-template-columns: 16px minmax(0, 1fr) 16px;

    overflow: auto;
  }

  /* tablet */
  @media (min-width: 768px) {
    .main-grid {
      grid-template-rows: 23px 72px 1fr 4fr 6fr;
      grid-template-columns: 25px minmax(0, 1fr) 25px;
    }
  }

  /* laptop */
  @media (min-width: 1024px) {
    .main-grid {
      grid-template-rows: 32px 1fr 4fr 6fr;
      grid-template-columns: 164px minmax(0, 1fr) 36px;
    }
  }

  /* MOBILE */
  .header {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .search-form {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .trusted-channels {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .mainContent {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  /* TABLET */
  @media (min-width: 768px) {
    .header {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .search-form {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    .trusted-channels {
      grid-column: 2/3;
      grid-row: 4/5;
    }

    .mainContent {
      grid-column: 2/3;
      grid-row: 5/6;
    }
  }

  /* LAPTOP */
  @media (min-width: 1024px) {
    .header {
      grid-column: 1/2;
      grid-row: 1/-1;

      justify-self: center;
    }

    .search-form {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .trusted-channels {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    .mainContent {
      grid-column: 2/3;
      grid-row: 4/5;
    }
  }
}

@layer utilities {
  /*-------------------
         HEADERS
   -------------------*/
  .header-large {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .header-small {
    font-size: 0.9375rem;
    font-weight: 500;
  }

  @media (min-width: 768px) {
    .header-large {
      font-size: 2rem;
    }

    .header-small {
      font-size: 1.5rem;
    }
  }

  /*---------------------
    BOOKMARK ANIMATIONS
   ---------------------*/
  .bookmarkAnimation {
    transition: all 0.3s ease;
  }

  .bookmarkBtn svg.bookmarkSVG path {
    transition: all 1s ease;
  }

  .bookmarkBtn:hover svg.bookmarkSVG path {
    fill: white; /* New fill color on hover */
    stroke: black; /* New stroke color on hover */
  }

  /*-------------------
    MAIN CONTENT GRID
   -------------------*/
  .main-content-grid {
    display: grid;
    grid-gap: 15px;
  }

  .main-content-grid {
    grid-auto-rows: minmax(348px, auto);
    grid-template-columns: repeat(auto-fit, minmax(min(560px, 100%), 1fr));
  }
}
