@tailwind base;
@tailwind components;
@tailwind utilities;

/* default theme */
@layer base {
  html {
    --bodyBg: #10141e;
    --headerBg: #161d2f;
  }
}

/* styles and variables */
@layer base {
  :root {
    --measure: 1440px;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 2fr 3fr;

    color: white;
  }

  button {
    cursor: pointer;
  }
}

/* layout */
@layer components {
  .header {
    grid-column: 1 / -1;
    grid-row: 1/2;
  }

  @media (min-width: 1024px) {
    .header {
      grid-column: 1/2;
      grid-row: 1/-1;
    }
  }
}

@layer utilities {
  .navbar-height {
    height: calc(100% - 4rem);
  }

  .white-filter {
    transition: filter 0.3s ease;
  }

  .white-filter:hover {
    filter: brightness(0) invert(1);
  }

  .selected.white-filter {
    filter: brightness(0) invert(1);
  }

  .center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure);
  }
}
